.profile {
  background-color: #000;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .profile {
    margin-top: 42px;
  }
}

@media screen and (max-width: 760px) {
  .profile {
    flex-direction: column;
    justify-content: start;
  }
}