.footer {
  margin: 66px 0 60px;
  align-self: start;
}

@media screen and (max-width: 1020px) {
  .footer {
    margin: 48px 50px 36px;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    margin-left: 19px;
  }
}
