.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition-property: visibility, opacity, z-index;
  transition-duration: 0s, .5s, 0s;
  transition-delay: .5s, 0s, .5s;
}
